{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block body %}
{# <img src="{{ asset('pizzaplanet.jpg') }}" class="pb-5" width="1000" height="525" margin-left="auto" margin-right="auto" display="block"> #}
<h1 class="pb-5">Nos Pizzas</h1>
<div class="row">
    {% for pizza in pizzas %}
        <div class="col">
            <div class="card">
                <img src= {{ pizza.photo }} class="img-fluid" alt="Photo de la pizza">
                <div class="card-body">
                    <h4 class="card-title">{{ pizza.name }}</h4>
                    {% for ingredient in pizza.ingredients %}
                        
                    {{ ingredient.name }},
                    {% endfor %}
                    <p class="prix">{{ pizza.price }}  &euro;</p>
                    <a href="/order" class="btn btn-primary btn-sm">Commander</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}